*,
html {
    padding: 0;
    margin: 0;
}



div {
    background-color: blue;
}


/* ===========DIV NAVBAR =========== */
.container-navbar {
    background-color: grey;
    width: 100%;
    height: 100px;
    height: 10vh;
}

.ul-navbar {
    height: 5px;
    justify-content: center;
    /* supaya di tengah secara horizontal */
    align-items: center;
    /* supaya di tengah secara vertikal */
    padding: 25px;
    display: flex;
    /* mengurutkan kotak kotak secara horizontal */
    
}

.li-navbar {
    list-style-type: none;
    padding: 10px;
    margin: 5px;
    /* jarak antara kotak kotak */
    color: white;
    font-size: 30px;
}

.li-navbar:hover{
    background-color: tomato;
    transition: .5s ease-in-out;
    transition-delay: .1s;
    border-radius: 8px;
}

.a-navbar{
    color: white;
    text-decoration: none;
}

/*  ===========DIV NAVBAR SELESAI =========== */










/* ==========CONTAINT 1========== */
.container-content {
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: whitesmoke;
    justify-content: center;
    /* supaya di tengah secara horizontal */
    align-items: center;
    /* supaya di tengah secara vertikal */
    display: flex;
    /* mengurutkan kotak kotak secara horizontal */
    height: 80vh;
}

.img-containt {
    width: 50%;
    height: 50%;
    padding-top : 0px;
    margin : 0px;
}

.a-content{
    text-decoration: none;
    color: black;
    width: 720px;
    height: 480px;
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    border-radius: 100px;
    box-shadow: 15px 16px 41px 0px rgba(0,0,0,0.63);
-webkit-box-shadow: 15px 16px 41px 0px rgba(0,0,0,0.63);
-moz-box-shadow: 15px 16px 41px 0px rgba(0,0,0,0.63);
}

#biodata{
    background: red;
    width: 500px;
    height: 500px;
}
/* ==========CONTAINT 1 SELESAI==========*/













/* ==========FOOTER========== */
.container-footer{
    background-color: crimson ;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
}

.h3-footer{
    font-size: 40px;
}

/*==========FOOTER SELESAI==========  */